body
{
    font-family: 'Montserrat', sans-serif;

    background-color: #f9f9f9 !important;
}
.header
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    margin-bottom: 10px;
    padding-bottom: 20px;

    text-align: center;

    color: #003249;
}
.section
{
    margin-bottom: 10px;
    padding: 10px;

    border-radius: 5px;
    background: #dedede24;
}
.section-title
{
    text-align: center;

    color: #008ce3;
}
.section-task
{
    font-size: 12px;

    margin: 10px;
    padding: 10px;

    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 8px 1px #b5b5b529;
}
.follower
{
    margin: 20px 10px;
    padding: 3px 10px;

    text-align: center;

    color: white;
    border-radius: 10px;
    background-color: #fcbd01;
}
